* {
    margin: 00px;
    padding: 00px;
    box-sizing: content-box;
  }
  
  .container {
    height: 65vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d5d3d3;
    flex-direction: row;
    flex-flow: wrap;
  
  }
  
  .font {
    height: 400px;
    width: 250px;
    position: relative;
    border-radius: 10px;
    background-image: url("../images/idBackground.jpg");
  }
  
  .top {
    height: 30%;
    width: 100%;
    /* background-color: #2e6930; */
    position: relative;
    z-index: 5;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .bottom {
    height: 71%;
    width: 100%;
    position: absolute;
  }
  
  .top img {
    height: 100px;
    width: 100px;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    top: 60px;
    left: 75px;
  }
  
  .bottom p {
    position: relative;
    top: 60px;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 20px;
  }
  
  .bottom .idNumber {
    font-weight: bold;
    font-size: 13px;
    color: black;
    font-weight: normal;
  }
  
  .bottom .no {
    font-size: 15px;
    font-weight: normal;
  }
  
  .footer img {
    height: 20px;
    width: 20px;
    text-align: center;
    margin: 5px;
  }
  
  .footer {
    text-align: center;
    position: relative;
    top: 55px;
  }
  
  .back {
    height: 400px;
    width: 250px;
    border-radius: 10px;
    background-image: url("../images/idBackground.jpg");
  }
  
  .qr img {
    height: 150px;
    width: 150px;
    text-align: center;
    margin: 0px;
  }
  
  .qr {
    text-align: center;
    position: relative;
    top: 15px;
  }
  
  .Details {
    color: black;
    text-align: center;
    padding: 10px;
    font-size: 25px;
  }
  
  .middle {
    vertical-align: middle;
  }
  
  
  .details-info {
    color: black;
    text-align: left;
    padding: 5px;
    font-size: 16px;
    text-align: center;
  }
  
  .logo {
    height: 40px;
    width: 150px;
    padding: 40px;
  }
  
  .logo img {
    height: 100%;
    width: 100%;
    color: white;
  
  }
  
  .padding {
    padding-right: 20px;
  }
  
  @media screen and (max-width:400px) {
    .container {
        height: 130vh;
    }
  
    .container .front {
        margin-top: 50px;
    }
  }
  
  @media screen and (max-width:600px) {
    .container {
        height: 130vh;
    }
  
    .container .front {
        margin-top: 50px;
    }
  
  }
  
  .completed-by,
  .signature,
  .title {
    float: left;
  }
  
  .signature,
  .title {
    margin: 20px 10px;
    border-top: 1px solid #000;
    width: 150px;
    text-align: center;
  }
  